<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Scenario1_PcToTwoPlcViaModbus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Scenario1_PcToTwoPlcViaModbus.Properties.Settings>
            <setting name="plc1" serializeAs="String">
                <value>1;false;null;null;none;</value>
            </setting>
            <setting name="plc2" serializeAs="String">
                <value>2;false;null;null;none;</value>
            </setting>
            <setting name="sql" serializeAs="String">
                <value>3;false;null;null;null;</value>
            </setting>
            <setting name="plc3" serializeAs="String">
                <value>4;false;null;null;none;</value>
            </setting>
            <setting name="plc4" serializeAs="String">
                <value>5;false;null;null;none;</value>
            </setting>
            <setting name="plc5" serializeAs="String">
                <value>6;false;null;null;none;</value>
            </setting>
        </Scenario1_PcToTwoPlcViaModbus.Properties.Settings>
    </userSettings>
</configuration>